---
import Layout from '../layouts/Layout.astro';
import LogoImage from '../assets/logo.svg';
import { ButtonLink } from '../components';
import SpiderManBannerImage from '../assets/home/spider-man-banner.jpg';
import {
  getComicSpotlight,
  getLatestRealeases
} from '../infra/api/endpoints/comic';

export const prerender = true;

const comicSpotlight = getComicSpotlight();
const latestReleases = getLatestRealeases();
---

<Layout title="Comics! Unleash your inner hero!">
  <section class="flex flex-col items-center relative pt-8 md:pt-20 mb-12">
    <h1
      class="flex flex-col w-full items-center justify-center font-heading text-4xl md:text-6xl absolute -top-1 md:top-6">
      <span class="text-action">Unleash your</span>
      <span class="text-drama">inner hero at</span>
      <span class="bg-drama px-1 py-1 w-max rounded-lg">
        <img src={LogoImage.src} alt="Logo" class="h-12 md:h-20" />
      </span>
    </h1>
    <img
      src={SpiderManBannerImage.src}
      alt="Spider man banner"
      class="w-64 md:w-96"
    />
  </section>

  <section class="mb-12">
    <h2 class="font-heading text-2xl text-action mb-3 md:text-5xl md:mb-4">
      Comic spotlight
    </h2>
    <div
      class="flex flex-col gap-3 md:flex-row items-center justify-center md:justify-between md:items-stretch">
      <div class="flex w-11/12 md:w-10/12 flex-col items-center md:items-end">
        <img
          src={comicSpotlight.thumbnail}
          alt={comicSpotlight.title}
          class="w-auto aspect-auto"
        />
      </div>
      <div
        class="flex flex-col md:w-2/3 gap-3 items-center md:items-center md:max-w-2xl md:justify-around border-red">
        <h3
          class="font-heading text-2xl text-center text-action md:text-3xl md:text-start">
          {comicSpotlight.title}
        </h3>
        <p class="text-sm text-fantasy md:text-lg">
          {comicSpotlight.description}
        </p>
        <ButtonLink
          className="text-md md:text-lg md:mt-auto md:max-w-lg"
          href={`/comics/${comicSpotlight.id}`}>
          Read more
        </ButtonLink>
      </div>
    </div>
  </section>

  <section>
    <h2 class="font-heading text-2xl text-action mb-3 md:text-5xl md:mb-4">
      Latest releases
    </h2>

    <div
      class="flex gap-4 flex-nowrap overflow-x-scroll scroll-smooth md:flex-wrap md:justify-center md:overflow-hidden">
      {
        latestReleases.map((comic) => (
          <a href={`/comics/${comic.id}`} class="min-w-fit">
            <img
              src={comic.thumbnail}
              alt={comic.title}
              class="w-56 aspect-auto"
            />
          </a>
        ))
      }
    </div>
  </section>
</Layout>
