---
import Layout from '../layouts/Layout.astro';
import { Card } from '../components';
import { EnhancedPagination } from '../components/react';
import { searchComics } from '../infra/api/endpoints/comic';
import { getComicUrl } from '../utils/urls';

const query = Astro.url.searchParams.get('q') || '';

const page = Number(Astro.url.searchParams.get('page')) || 1;

const title = `Comics! Search for ${query} | Page ${page}`;

const { comics, total, limit } = await searchComics({ query: query, page });
---

<Layout title={title}>
  <h3 class="font-heading text-action text-lg mb-2">{query} ({total})</h3>
  <ul class="flex flex-wrap gap-8 justify-center min-h-screen">
    {
      comics.length === 0 && (
        <div class="flex flex-col justify-center items-center min-h-screen">
          <h4 class="font-heading text-action text-2xl mb-2">
            No results found
          </h4>
          <p class="text-fantasy text-center">
            Try searching for something else
          </p>
        </div>
      )
    }
    {
      comics.map((comic) => (
        <Card
          title={comic.title ?? ''}
          price={comic.price ?? 0}
          image={comic.thumbnail ?? ''}
          url={getComicUrl({
            id: comic.id ?? ''
          })}
        />
      ))
    }
  </ul>
  {
    comics.length > 0 && (
      <div class="flex justify-center items-center mt-8">
        <EnhancedPagination
          total={total}
          page={page}
          limit={limit}
          query={query}
        />
      </div>
    )
  }
</Layout>
