---
import { cn } from '../utils/ui';
import { formatPrice } from '../utils/strings';

type Props = {
  image: string;
  title: string;
  price: number;
  url: string;
  className?: string;
};

const { image, price, title, url, className } = Astro.props;
---

<li class="list-none">
  <a
    href={url}
    class={cn(
      'flex w-64 md:w-44 cursor-pointer focus:outline-none focus:ring-2',
      className
    )}>
    <div class="flex flex-col gap-y-1">
      <img
        src={image}
        alt={title}
        class="w-64 h-80 md:w-44 md:h-64 object-center aspect-auto"
      />
      <div>
        <h3 class="text-action font-heading text-sm">{title}</h3>
        <p class="text-fantasy text-sm">{formatPrice(price)}</p>
      </div>
    </div>
  </a>
</li>
